<ul class="nav nav-tabs mb-3" id="mainNav">
  <li class="nav-item">
    <a class="nav-link{% if active_page == 'inference' %} active{% endif %}" href="/inference">Inference</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active_page == 'preprocess' %} active{% endif %}" href="/preprocess">Preprocess</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active_page == 'outputs' %} active{% endif %}" href="/outputs">Outputs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active_page == 'live' %} active{% endif %}" href="/live">Live</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/osog_playground">OSOG Playground</a>
  </li>
</ul>
